<table class="table">
{% for categorie in categories %}
    <tr>
        <td>{{ categorie.label }}</td>
        <td>
            <div class="d-flex justify-content-end gap-3">
                <a href="{{ path('admin.categorie.show', {'id': categorie.id}) }}" class="blog-button">Consulter</a>
                <a href="{{ path('admin.categorie.edit', {'id': categorie.id}) }}" class="blog-button">Editer</a>
                {% include 'admin/categorie/_delete_form.html.twig' %}
            </div>
        </td>
    </tr>
{% endfor %}
</table>