<p> Une nouvelle demande de contact a été reçue</p>

<ul>
    <li>Nom : {{ contact.nom }}</li>
    <li>Email : <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
</ul>

<strong>Message</strong>
<p>{{ contact.message }}</p>
